<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rayy.android.dialer"
    android:versionCode="3"
    android:versionName="1.0.6" >

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="15" />
    
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@drawable/dialer2"
        android:label="@string/app_name" >
        
        <activity
			android:name=".PackageListing"
			android:theme="@style/Theme.Sherlock"
			android:configChanges="keyboardHidden|orientation|screenSize" 
			android:label="@string/app_name">
			<intent-filter>
				<action
					android:name="android.intent.action.MAIN" /> 
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
        <activity android:name="com.rayy.android.dialer.Account"></activity>        
        <receiver android:name=".OutgoingCallReceiver">
			<intent-filter>
				<action android:name="android.intent.action.NEW_OUTGOING_CALL" />
			</intent-filter>
		</receiver>
        
    </application>

</manifest>